# React / Node
node_modules/
dist/

# Spring Boot / Maven
target/

# IntelliJ
.idea/
*.iml

# Environment variables
.env
.env.local

# OS files
.DS_Store
Thumbs.db

galym_community/src/main/resources/application.properties

# Graphify output
graphify-out/
